package routes

import (
	"github.com/gofiber/fiber/v2"
	"github.com/gofiber/fiber/v2/middleware/healthcheck"
	"github.com/gofiber/fiber/v2/middleware/monitor"
	"github.com/gofiber/fiber/v2/middleware/recover"
	"github.com/{{.ModuleName}}/internal/handlers"
	"github.com/{{.ModuleName}}/pkg/middleware"
)

type RouteConfig struct {
	App         *fiber.App
	HomeHandler *handlers.HomeHandler
}

func (c *RouteConfig) Setup() {
	v1 := c.App.Group("/api/v1")

	c.App.Use(middleware.CORSMiddleware())
	c.App.Use(recover.New())
	c.App.Use(healthcheck.New())

	// monitor
	v1.Get("/monitor", monitor.New())

	HomeRoute(c, v1)
}

func HomeRoute(c *RouteConfig, v1 fiber.Router) {
	v1.Get("/home", c.HomeHandler.Index)
}
