package user

import (
	"github.com/gofiber/fiber/v2"
	"gorm.io/gorm"
)

type UserService struct {
	db *gorm.DB
}

func NewUserService(db *gorm.DB) *UserService {
    return &UserService{
        db: db,
    }
}

func (s *UserService) GetListUsers(ctx *fiber.Ctx) ([]GetListUsers, error) {
    var result []GetListUsers
    return result, nil
}